#Game Settings written by com.jme.app.BaseGame$BaseGameSettings at Thu Dec 09 22:05:12 EST 2010
#Thu Dec 09 22:05:12 EST 2010
FREQ=60
WIDTH=1280
RENDERER=LWJGL
HEIGHT=800
DEPTH=16
FULLSCREEN=true
